.chat-main
  .chat-main__group-info
    .chat-main__group-info__name
      .chat-main__group-info__name__name
        = @group.name
      .chat-main__group-info__name__member
        Member : 
        /||の中は特に指定はない。ただ、配列usersの中のuserを取り出すのでuserが解りやすい。
        /そして、userの中で表示させたいカラムを書く。DBで確認する。
        - @group.users.each do |user|
          = user.name
    .chat-main__group-info__edit
      .chat-main__group-info__edit__btn
        = link_to edit_group_path(@group), class: "chat-main__group-info__edit__btn-a" do
          edit
  
  .chat-main__messages
    = render @messages

  = form_for [@group, @message], html:{class: 'chat-main__message-form'} do |f|
    .chat-main__message-form__textbox
      = f.text_field :content, class: 'chat-main__message-form__text', placeholder: 'type a message'
      = f.label :image, class: 'chat-main__message-form__text-image' do
        = icon('fas', 'image')
        = f.file_field :image, class: 'chat-main__message-form__text-image__del'
    = f.submit 'Send', class: 'chat-main__message-form__send'

